<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="https://github.com/hiattp/Phonegap-LocalNotification"
        id="localnotification"
        version="0.1.0">

  <name>LocalNotification</name>
  <description>Local notification for time-based alerts.</description>
  <license>MIT License</license>
  <keywords>localnotification, notification, timer, alert, alarm clock</keywords>
  
  <js-module src="www/localnotification.js" name="LocalNotification">
    <clobbers target="localNotifier" />
  </js-module> 
 
  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
		  <feature name="LocalNotification">
			  <param name="ios-package" value="LocalNotification"/>
		  </feature>
    </config-file>
    


  	<header-file src="src/ios/LocalNotification.h" />
  	<source-file src="src/ios/LocalNotification.m" />

  </platform>


  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LocalNotification">
          <param name="android-package" value="com.phonegap.plugin.localnotification.LocalNotification"/>
      </feature>
    </config-file>

    <source-file src="src/android/AlarmHelper.java" target-dir="src/com/phonegap/plugin/localnotification" />      
    <source-file src="src/android/AlarmOptions.java" target-dir="src/com/phonegap/plugin/localnotification" />      
    <source-file src="src/android/AlarmReceiver.java" target-dir="src/com/phonegap/plugin/localnotification" />      
    <source-file src="src/android/AlarmRestoreOnBoot.java" target-dir="src/com/phonegap/plugin/localnotification" />      
    <source-file src="src/android/LocalNotification.java" target-dir="src/com/phonegap/plugin/localnotification" />           
  </platform>  

</plugin>
